/* line 274, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.off-canvas-wrap {
  -webkit-backface-visibility: hidden;
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* line 275, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.inner-wrap {
  -webkit-backface-visibility: hidden;
  position: relative;
  width: 100%;
  *zoom: 1;
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -ms-transition: -ms-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: transform 500ms ease;
}
/* line 159, ../bower_components/foundation/scss/foundation/components/_global.scss */
.inner-wrap:before, .inner-wrap:after {
  content: " ";
  display: table;
}
/* line 160, ../bower_components/foundation/scss/foundation/components/_global.scss */
.inner-wrap:after {
  clear: both;
}

/* line 277, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
nav.tab-bar {
  -webkit-backface-visibility: hidden;
  background: #333;
  color: #FFF;
  height: 2.8125rem;
  line-height: 2.8125rem;
  position: relative;
}
/* line 140, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
nav.tab-bar h1, nav.tab-bar h2, nav.tab-bar h3, nav.tab-bar h4, nav.tab-bar h5, nav.tab-bar h6 {
  color: #FFF;
  font-weight: bold;
  line-height: 2.8125rem;
  margin: 0;
}
/* line 146, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
nav.tab-bar h1, nav.tab-bar h2, nav.tab-bar h3, nav.tab-bar h4 {
  font-size: 1.125rem;
}

/* line 279, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.left-small {
  width: 2.8125rem;
  height: 2.8125rem;
  position: absolute;
  top: 0;
  border-right: solid 1px #1a1a1a;
  box-shadow: 1px 0 0 #4e4e4e;
  left: 0;
}

/* line 280, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.right-small {
  width: 2.8125rem;
  height: 2.8125rem;
  position: absolute;
  top: 0;
  border-left: solid 1px #4e4e4e;
  box-shadow: -1px 0 0 #1a1a1a;
  right: 0;
}

/* line 282, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.tab-bar-section {
  padding: 0 0.625rem;
  position: absolute;
  text-align: center;
  height: 2.8125rem;
  top: 0;
}
@media only screen and (min-width: 40.063em) {
  /* line 282, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
  section.tab-bar-section {
    text-align: left;
  }
}
/* line 183, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.tab-bar-section.left {
  left: 0;
  right: 2.8125rem;
}
/* line 187, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.tab-bar-section.right {
  left: 2.8125rem;
  right: 0;
}
/* line 191, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
section.tab-bar-section.middle {
  left: 2.8125rem;
  right: 2.8125rem;
}

/* line 286, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
a.menu-icon {
  text-indent: 2.1875rem;
  width: 2.8125rem;
  height: 2.8125rem;
  display: block;
  line-height: 2.0625rem;
  padding: 0;
  color: #fff;
  position: relative;
}
/* line 297, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
a.menu-icon span {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0;
  left: 0.8125rem;
  top: 0.3125rem;
  -webkit-box-shadow: 1px 10px 1px 1px #FFF, 1px 16px 1px 1px #FFF, 1px 22px 1px 1px #FFF;
  box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
}
/* line 317, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
a.menu-icon:hover span {
  -webkit-box-shadow: 1px 10px 1px 1px #b3b3b3, 1px 16px 1px 1px #b3b3b3, 1px 22px 1px 1px #b3b3b3;
  box-shadow: 0 10px 0 1px #b3b3b3, 0 16px 0 1px #b3b3b3, 0 22px 0 1px #b3b3b3;
}

/* line 329, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.left-off-canvas-menu {
  -webkit-backface-visibility: hidden;
  width: 250px;
  top: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  overflow-y: auto;
  background: #333;
  z-index: 1001;
  box-sizing: content-box;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 258, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.left-off-canvas-menu * {
  -webkit-backface-visibility: hidden;
}

/* line 330, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.right-off-canvas-menu {
  -webkit-backface-visibility: hidden;
  width: 250px;
  top: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  overflow-y: auto;
  background: #333;
  z-index: 1001;
  box-sizing: content-box;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  right: 0;
}

/* line 332, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
ul.off-canvas-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 205, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
ul.off-canvas-list li label {
  padding: 0.3rem 0.9375rem;
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
  background: #444;
  border-top: 1px solid #5e5e5e;
  border-bottom: none;
  margin: 0;
}
/* line 215, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
ul.off-canvas-list li a {
  display: block;
  padding: 0.66667rem;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #262626;
}

/* line 338, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.move-right > .inner-wrap {
  -webkit-transform: translate3d(250px, 0, 0);
  -moz-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}
/* line 341, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.move-right a.exit-off-canvas {
  -webkit-backface-visibility: hidden;
  transition: background 300ms ease;
  cursor: pointer;
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 40.063em) {
  /* line 246, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
  .move-right a.exit-off-canvas:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

/* line 345, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.move-left > .inner-wrap {
  -webkit-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}
/* line 349, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.move-left a.exit-off-canvas {
  -webkit-backface-visibility: hidden;
  transition: background 300ms ease;
  cursor: pointer;
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (min-width: 40.063em) {
  /* line 246, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
  .move-left a.exit-off-canvas:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

/* line 354, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.csstransforms.no-csstransforms3d .left-off-canvas-menu {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
/* line 355, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.csstransforms.no-csstransforms3d .right-off-canvas-menu {
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
/* line 357, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.csstransforms.no-csstransforms3d .move-left > .inner-wrap {
  -webkit-transform: translate(-250px, 0);
  -moz-transform: translate(-250px, 0);
  -ms-transform: translate(-250px, 0);
  -o-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
}
/* line 358, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.csstransforms.no-csstransforms3d .move-right > .inner-wrap {
  -webkit-transform: translate(250px, 0);
  -moz-transform: translate(250px, 0);
  -ms-transform: translate(250px, 0);
  -o-transform: translate(250px, 0);
  transform: translate(250px, 0);
}

/* line 363, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.no-csstransforms .left-off-canvas-menu {
  left: -250px;
}
/* line 364, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.no-csstransforms .right-off-canvas-menu {
  right: -250px;
}
/* line 366, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.no-csstransforms .move-left > .inner-wrap {
  right: 250px;
}
/* line 367, ../bower_components/foundation/scss/foundation/components/_offcanvas.scss */
.no-csstransforms .move-right > .inner-wrap {
  left: 250px;
}

/* Foundation Visibility HTML Classes */
/* line 15, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.show-for-small,
.show-for-small-only,
.show-for-medium-down,
.show-for-large-down,
.hide-for-medium,
.hide-for-medium-up,
.hide-for-medium-only,
.hide-for-large,
.hide-for-large-up,
.hide-for-large-only,
.hide-for-xlarge,
.hide-for-xlarge-up,
.hide-for-xlarge-only,
.hide-for-xxlarge-up,
.hide-for-xxlarge-only {
  display: inherit !important;
}

/* line 31, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.hide-for-small,
.hide-for-small-only,
.hide-for-medium-down,
.show-for-medium,
.show-for-medium-up,
.show-for-medium-only,
.hide-for-large-down,
.show-for-large,
.show-for-large-up,
.show-for-large-only,
.show-for-xlarge,
.show-for-xlarge-up,
.show-for-xlarge-only,
.show-for-xxlarge-up,
.show-for-xxlarge-only {
  display: none !important;
}

/* Specific visibility for tables */
/* line 49, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
table.show-for-small, table.show-for-small-only, table.show-for-medium-down, table.show-for-large-down, table.hide-for-medium, table.hide-for-medium-up, table.hide-for-medium-only, table.hide-for-large, table.hide-for-large-up, table.hide-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
  display: table;
}

/* line 66, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
thead.show-for-small, thead.show-for-small-only, thead.show-for-medium-down, thead.show-for-large-down, thead.hide-for-medium, thead.hide-for-medium-up, thead.hide-for-medium-only, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
  display: table-header-group !important;
}

/* line 83, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
tbody.show-for-small, tbody.show-for-small-only, tbody.show-for-medium-down, tbody.show-for-large-down, tbody.hide-for-medium, tbody.hide-for-medium-up, tbody.hide-for-medium-only, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
  display: table-row-group !important;
}

/* line 100, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
tr.show-for-small, tr.show-for-small-only, tr.show-for-medium-down, tr.show-for-large-down, tr.hide-for-medium, tr.hide-for-medium-up, tr.hide-for-medium-only, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
  display: table-row !important;
}

/* line 118, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
td.show-for-small, td.show-for-small-only, td.show-for-medium-down
td.show-for-large-down, td.hide-for-medium, td.hide-for-medium-up, td.hide-for-large, td.hide-for-large-up, td.hide-for-xlarge
td.hide-for-xlarge-up, td.hide-for-xxlarge-up,
th.show-for-small,
th.show-for-small-only,
th.show-for-medium-down
td.show-for-large-down,
th.hide-for-medium,
th.hide-for-medium-up,
th.hide-for-large,
th.hide-for-large-up,
th.hide-for-xlarge
td.hide-for-xlarge-up,
th.hide-for-xxlarge-up, td.show-for-medium-down
th.show-for-large-down, td.hide-for-xlarge
th.hide-for-xlarge-up,
th.show-for-medium-down
th.show-for-large-down,
th.hide-for-xlarge
th.hide-for-xlarge-up {
  display: table-cell !important;
}

/* Medium Displays: 641px and up */
@media only screen and (min-width: 40.063em) {
  /* line 133, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hide-for-small,
  .hide-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-up,
  .show-for-medium-only,
  .hide-for-large,
  .hide-for-large-up,
  .hide-for-large-only,
  .hide-for-xlarge,
  .hide-for-xlarge-up,
  .hide-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: inherit !important;
  }

  /* line 148, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .show-for-small,
  .show-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-up,
  .hide-for-medium-only,
  .hide-for-large-down,
  .show-for-large,
  .show-for-large-up,
  .show-for-large-only,
  .show-for-xlarge,
  .show-for-xlarge-up,
  .show-for-xlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: none !important;
  }

  /* Specific visibility for tables */
  /* line 166, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  table.hide-for-small, table.hide-for-small-only, table.show-for-medium, table.show-for-medium-down, table.show-for-medium-up, table.show-for-medium-only, table.hide-for-large, table.hide-for-large-up, table.hide-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
    display: table;
  }

  /* line 182, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  thead.hide-for-small, thead.hide-for-small-only, thead.show-for-medium, thead.show-for-medium-down, thead.show-for-medium-up, thead.show-for-medium-only, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
    display: table-header-group !important;
  }

  /* line 198, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tbody.hide-for-small, tbody.hide-for-small-only, tbody.show-for-medium, tbody.show-for-medium-down, tbody.show-for-medium-up, tbody.show-for-medium-only, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
    display: table-row-group !important;
  }

  /* line 214, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tr.hide-for-small, tr.hide-for-small-only, tr.show-for-medium, tr.show-for-medium-down, tr.show-for-medium-up, tr.show-for-medium-only, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
    display: table-row !important;
  }

  /* line 231, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  td.hide-for-small, td.hide-for-small-only, td.show-for-medium, td.show-for-medium-down, td.show-for-medium-up, td.show-for-medium-only, td.hide-for-large, td.hide-for-large-up, td.hide-for-large-only, td.hide-for-xlarge, td.hide-for-xlarge-up, td.hide-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.show-for-medium,
  th.show-for-medium-down,
  th.show-for-medium-up,
  th.show-for-medium-only,
  th.hide-for-large,
  th.hide-for-large-up,
  th.hide-for-large-only,
  th.hide-for-xlarge,
  th.hide-for-xlarge-up,
  th.hide-for-xlarge-only,
  th.hide-for-xxlarge-up,
  th.hide-for-xxlarge-only {
    display: table-cell !important;
  }
}
/* Large Displays: 1024px and up */
@media only screen and (min-width: 64.063em) {
  /* line 250, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hide-for-small,
  .hide-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .show-for-large,
  .show-for-large-up,
  .show-for-large-only,
  .hide-for-xlarge,
  .hide-for-xlarge-up,
  .hide-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: inherit !important;
  }

  /* line 265, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .show-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-only,
  .hide-for-large,
  .hide-for-large-up,
  .hide-for-large-only,
  .show-for-xlarge,
  .show-for-xlarge-up,
  .show-for-xlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: none !important;
  }

  /* Specific visibility for tables */
  /* line 280, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large, table.show-for-large-up, table.show-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
    display: table;
  }

  /* line 296, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large, thead.show-for-large-up, thead.show-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
    display: table-header-group !important;
  }

  /* line 312, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large, tbody.show-for-large-up, tbody.show-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
    display: table-row-group !important;
  }

  /* line 328, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large, tr.show-for-large-up, tr.show-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
    display: table-row !important;
  }

  /* line 345, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large, td.show-for-large-up, td.show-for-large-only, td.hide-for-xlarge, td.hide-for-xlarge-up, td.hide-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.hide-for-medium,
  th.hide-for-medium-down,
  th.hide-for-medium-only,
  th.show-for-medium-up,
  th.show-for-large,
  th.show-for-large-up,
  th.show-for-large-only,
  th.hide-for-xlarge,
  th.hide-for-xlarge-up,
  th.hide-for-xlarge-only,
  th.hide-for-xxlarge-up,
  th.hide-for-xxlarge-only {
    display: table-cell !important;
  }
}
/* X-Large Displays: 1441 and up */
@media only screen and (min-width: 90.063em) {
  /* line 364, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hide-for-small,
  .hide-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .show-for-large-up,
  .hide-for-large-only,
  .show-for-xlarge,
  .show-for-xlarge-up,
  .show-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: inherit !important;
  }

  /* line 378, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .show-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-only,
  .show-for-large,
  .show-for-large-only,
  .show-for-large-down,
  .hide-for-xlarge,
  .hide-for-xlarge-up,
  .hide-for-xlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: none !important;
  }

  /* Specific visibility for tables */
  /* line 393, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large-up, table.hide-for-large-only, table.show-for-xlarge, table.show-for-xlarge-up, table.show-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
    display: table;
  }

  /* line 408, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large-up, thead.hide-for-large-only, thead.show-for-xlarge, thead.show-for-xlarge-up, thead.show-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
    display: table-header-group !important;
  }

  /* line 423, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large-up, tbody.hide-for-large-only, tbody.show-for-xlarge, tbody.show-for-xlarge-up, tbody.show-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
    display: table-row-group !important;
  }

  /* line 438, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large-up, tr.hide-for-large-only, tr.show-for-xlarge, tr.show-for-xlarge-up, tr.show-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
    display: table-row !important;
  }

  /* line 454, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large-up, td.hide-for-large-only, td.show-for-xlarge, td.show-for-xlarge-up, td.show-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.hide-for-medium,
  th.hide-for-medium-down,
  th.hide-for-medium-only,
  th.show-for-medium-up,
  th.show-for-large-up,
  th.hide-for-large-only,
  th.show-for-xlarge,
  th.show-for-xlarge-up,
  th.show-for-xlarge-only,
  th.hide-for-xxlarge-up,
  th.hide-for-xxlarge-only {
    display: table-cell !important;
  }
}
/* XX-Large Displays: 1920 and up */
@media only screen and (min-width: 120.063em) {
  /* line 472, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hide-for-small,
  .hide-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .show-for-large-up,
  .hide-for-large-only,
  .hide-for-xlarge-only,
  .show-for-xlarge-up,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: inherit !important;
  }

  /* line 485, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .show-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-only,
  .show-for-large,
  .show-for-large-only,
  .show-for-large-down,
  .hide-for-xlarge,
  .show-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: none !important;
  }

  /* Specific visibility for tables */
  /* line 499, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large-up, table.hide-for-xlarge-only, table.show-for-xlarge-up, table.show-for-xxlarge-up, table.show-for-xxlarge-only {
    display: table;
  }

  /* line 512, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large-up, thead.hide-for-xlarge-only, thead.show-for-xlarge-up, thead.show-for-xxlarge-up, thead.show-for-xxlarge-only {
    display: table-header-group !important;
  }

  /* line 525, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large-up, tbody.hide-for-xlarge-only, tbody.show-for-xlarge-up, tbody.show-for-xxlarge-up, tbody.show-for-xxlarge-only {
    display: table-row-group !important;
  }

  /* line 538, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large-up, tr.hide-for-xlarge-only, tr.show-for-xlarge-up, tr.show-for-xxlarge-up, tr.show-for-xxlarge-only {
    display: table-row !important;
  }

  /* line 552, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large-up, td.hide-for-xlarge-only, td.show-for-xlarge-up, td.show-for-xxlarge-up, td.show-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.hide-for-medium,
  th.hide-for-medium-down,
  th.hide-for-medium-only,
  th.show-for-medium-up,
  th.show-for-large-up,
  th.hide-for-xlarge-only,
  th.show-for-xlarge-up,
  th.show-for-xxlarge-up,
  th.show-for-xxlarge-only {
    display: table-cell !important;
  }
}
/* Orientation targeting */
/* line 568, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.show-for-landscape,
.hide-for-portrait {
  display: inherit !important;
}

/* line 570, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.hide-for-landscape,
.show-for-portrait {
  display: none !important;
}

/* Specific visibility for tables */
/* line 575, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
table.hide-for-landscape, table.show-for-portrait {
  display: table;
}

/* line 579, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
thead.hide-for-landscape, thead.show-for-portrait {
  display: table-header-group !important;
}

/* line 583, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
tbody.hide-for-landscape, tbody.show-for-portrait {
  display: table-row-group !important;
}

/* line 587, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
tr.hide-for-landscape, tr.show-for-portrait {
  display: table-row !important;
}

/* line 592, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
td.hide-for-landscape, td.show-for-portrait,
th.hide-for-landscape,
th.show-for-portrait {
  display: table-cell !important;
}

@media only screen and (orientation: landscape) {
  /* line 597, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit !important;
  }

  /* line 599, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hide-for-landscape,
  .show-for-portrait {
    display: none !important;
  }

  /* Specific visibility for tables */
  /* line 604, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  table.show-for-landscape, table.hide-for-portrait {
    display: table;
  }

  /* line 608, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  thead.show-for-landscape, thead.hide-for-portrait {
    display: table-header-group !important;
  }

  /* line 612, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tbody.show-for-landscape, tbody.hide-for-portrait {
    display: table-row-group !important;
  }

  /* line 616, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tr.show-for-landscape, tr.hide-for-portrait {
    display: table-row !important;
  }

  /* line 621, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  td.show-for-landscape, td.hide-for-portrait,
  th.show-for-landscape,
  th.hide-for-portrait {
    display: table-cell !important;
  }
}
@media only screen and (orientation: portrait) {
  /* line 627, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit !important;
  }

  /* line 629, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  .hide-for-portrait,
  .show-for-landscape {
    display: none !important;
  }

  /* Specific visibility for tables */
  /* line 634, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  table.show-for-portrait, table.hide-for-landscape {
    display: table;
  }

  /* line 638, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  thead.show-for-portrait, thead.hide-for-landscape {
    display: table-header-group !important;
  }

  /* line 642, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tbody.show-for-portrait, tbody.hide-for-landscape {
    display: table-row-group !important;
  }

  /* line 646, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  tr.show-for-portrait, tr.hide-for-landscape {
    display: table-row !important;
  }

  /* line 651, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
  td.show-for-portrait, td.hide-for-landscape,
  th.show-for-portrait,
  th.hide-for-landscape {
    display: table-cell !important;
  }
}
/* Touch-enabled device targeting */
/* line 657, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.show-for-touch {
  display: none !important;
}

/* line 658, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.hide-for-touch {
  display: inherit !important;
}

/* line 659, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.touch .show-for-touch {
  display: inherit !important;
}

/* line 660, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.touch .hide-for-touch {
  display: none !important;
}

/* Specific visibility for tables */
/* line 663, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
table.hide-for-touch {
  display: table;
}

/* line 664, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.touch table.show-for-touch {
  display: table;
}

/* line 665, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
thead.hide-for-touch {
  display: table-header-group !important;
}

/* line 666, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.touch thead.show-for-touch {
  display: table-header-group !important;
}

/* line 667, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
tbody.hide-for-touch {
  display: table-row-group !important;
}

/* line 668, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.touch tbody.show-for-touch {
  display: table-row-group !important;
}

/* line 669, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
tr.hide-for-touch {
  display: table-row !important;
}

/* line 670, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.touch tr.show-for-touch {
  display: table-row !important;
}

/* line 671, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
td.hide-for-touch {
  display: table-cell !important;
}

/* line 672, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.touch td.show-for-touch {
  display: table-cell !important;
}

/* line 673, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
th.hide-for-touch {
  display: table-cell !important;
}

/* line 674, ../bower_components/foundation/scss/foundation/components/_visibility.scss */
.touch th.show-for-touch {
  display: table-cell !important;
}

/* line 104, social/*.png */
.social-sprite, .social li.facebook a, .social li.facebook a:hover, .social li.twitter a, .social li.twitter a:hover, .social li.wordpress a, .social li.wordpress a:hover, .social li.flickr a, .social li.flickr a:hover {
  background-image: url('../img/social-s9205f7c804.png');
  background-repeat: no-repeat;
}

/* 
$black: #000;
$white: #fff;
$grey: lighten($black, 50%);
$dark-grey: lighten($black, 30%);
$d sc-grey: darken($white, 50%);
$light-grey: darken($white, 10%);
 */
@font-face {
  font-family: "MyriadPro";
  src: url('fonts/MyriadPro_Regular.eot?1384462120');
  src: url('fonts/MyriadPro_Regular.eot?&1384462120#iefix') format('embedded-opentype'), url('fonts/MyriadPro_Regular.ttf?1384461643') format('truetype'), url('fonts/MyriadPro_Regular.otf') format('opentype'), url('fonts/MyriadPro_Regular.woff?1384462086') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: "NeoSansProBold";
  src: url('fonts/Neo-Sans-Pro-Bold.eot?1384462346');
  src: url('fonts/Neo-Sans-Pro-Bold.eot?&1384462346#iefix') format('embedded-opentype'), url('fonts/Neo-Sans-Pro-Bold.ttf?1384462332') format('truetype'), url('fonts/Neo-Sans-Pro-Bold.otf?1384462632') format('opentype'), url('fonts/Neo-Sans-Pro-Bold.woff?1384462507') format('woff');
  font-weight: normal;
}
/* line 45, ../scss/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, ../scss/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../scss/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../scss/partials/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../scss/partials/_normalize.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, ../scss/partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../scss/partials/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../scss/partials/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../scss/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 145, ../scss/partials/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../scss/partials/_normalize.scss */
h1 {
  font-size: 2.75rem;
  margin: 0.67em 0;
}

/* line 164, ../scss/partials/_normalize.scss */
h2 {
  font-size: 2.3125rem;
  margin: 0.83em 0;
}

/* line 169, ../scss/partials/_normalize.scss */
h3 {
  font-size: 1.6875rem;
  margin: 1em 0;
}

/* line 174, ../scss/partials/_normalize.scss */
h4 {
  font-size: 1.4375rem;
  margin: 1.33em 0;
}

/* line 179, ../scss/partials/_normalize.scss */
h5 {
  font-size: 1.125rem;
  margin: 1.67em 0;
}

/* line 184, ../scss/partials/_normalize.scss */
h6 {
  font-size: 1rem;
  margin: 2.33em 0;
}

/* line 192, ../scss/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 198, ../scss/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../scss/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../scss/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 233, ../scss/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../scss/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../scss/partials/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 269, ../scss/partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 277, ../scss/partials/_normalize.scss */
small {
  font-size: 80%;
}

/* line 284, ../scss/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 292, ../scss/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 296, ../scss/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 332, ../scss/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
}

/* line 349, ../scss/partials/_normalize.scss */
img {
  border: 0;
}

/* line 358, ../scss/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 368, ../scss/partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 385, ../scss/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 396, ../scss/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 410, ../scss/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 425, ../scss/partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 435, ../scss/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 448, ../scss/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../scss/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 471, ../scss/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 484, ../scss/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 494, ../scss/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 503, ../scss/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 512, ../scss/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 523, ../scss/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, ../scss/partials/_layout.scss */
.top-bar .title-area img {
  position: relative;
  top: 0;
  left: 0;
  overflow: auto;
  margin-bottom: 0.625rem;
}
/* line 17, ../scss/partials/_layout.scss */
.top-bar .name
h1 {
  font-family: "NeoSansProBold", "OpenSans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.875rem;
  /*
   		padding-left: 0;
  		margin-left: 0;
   */
}

/* line 29, ../scss/partials/_layout.scss */
.top-bar-section ul {
  background-color: #000;
}

/* line 36, ../scss/partials/_layout.scss */
header .mainbanner {
  position: relative;
  width: 100%;
}
/* line 39, ../scss/partials/_layout.scss */
header .mainbanner img {
  width: 100%;
}
/* line 42, ../scss/partials/_layout.scss */
header .mainbanner h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: "NeoSansProBold", "OpenSans", Arial, sans-serif;
  color: white;
  letter-spacing: -1px;
  background: black;
  /* fallback color */
  background: rgba(0, 0, 0, 0.6);
  padding-left: 30px;
  overflow: hidden;
}

/* line 60, ../scss/partials/_layout.scss */
.button {
  width: 100%;
  text-align: center;
}

/********************************************
 *    Area for media query styles 
 ********************************************/
@media screen and (max-width: 500px) {
  /* line 72, ../scss/partials/_layout.scss */
  .top-bar .title-area img {
    position: relative;
    top: 0.3125rem;
    left: 0.625rem;
    overflow: auto;
    margin-bottom: 0.625rem;
  }
}
/* line 8, ../scss/partials/_modules.scss */
.footer {
  margin-top: 1.5rem;
}
/* line 10, ../scss/partials/_modules.scss */
.footer a {
  color: #473016;
}
/* line 13, ../scss/partials/_modules.scss */
.footer .footermenuhead {
  margin-top: 1.25rem;
  margin-left: 10%;
  color: gray;
}
/* line 18, ../scss/partials/_modules.scss */
.footer .sponsorsrow {
  background-color: gray;
  text-align: center;
}
/* line 21, ../scss/partials/_modules.scss */
.footer .sponsorsrow h4 {
  margin-top: 1.25rem;
  padding-left: 10px;
}
/* line 25, ../scss/partials/_modules.scss */
.footer .sponsorsrow .sponsorslinks {
  padding-left: 1.25rem;
}
/* line 28, ../scss/partials/_modules.scss */
.footer .sponsorsrow img {
  display: inline-block;
  margin: 1.25rem;
  width: 8.75rem;
}
/* line 34, ../scss/partials/_modules.scss */
.footer .linksrow {
  background-color: #33353B;
  padding-top: 1.25rem;
}
/* line 37, ../scss/partials/_modules.scss */
.footer .linksrow .bigfooter {
  /* 			a {
  				width: 100%;
  				margin: 0 auto;
  				text-align: left;
  			}
   */
}
/* line 44, ../scss/partials/_modules.scss */
.footer .linksrow .bigfooter ul {
  list-style-type: none;
  padding: 0;
}
/* line 47, ../scss/partials/_modules.scss */
.footer .linksrow .bigfooter ul li a {
  margin-left: 10%;
  font-size: 0.75rem;
  text-decoration: none;
  color: #e6e6e6;
  display: block;
}
/* line 53, ../scss/partials/_modules.scss */
.footer .linksrow .bigfooter ul li a:hover {
  background: #e6e6e6;
  color: #4d4d4d;
}
/* line 62, ../scss/partials/_modules.scss */
.footer .linksrow .clublogo img {
  max-width: 50%;
  margin: 0 auto;
}
/* line 70, ../scss/partials/_modules.scss */
.footer .bottomrow {
  background-color: #26272B;
  color: gray;
}
/* line 73, ../scss/partials/_modules.scss */
.footer .bottomrow .contactsummary {
  margin-top: 1rem;
}
/* line 79, ../scss/partials/_modules.scss */
.footer .footnav ul {
  margin: 0.3125rem 0 0 0;
}
/* line 82, ../scss/partials/_modules.scss */
.footer .footnav li {
  margin-left: 0;
  margin-right: 0.9375rem;
}
/* line 87, ../scss/partials/_modules.scss */
.footer .footnav a:hover {
  text-decoration: underline;
}

/* line 100, ../scss/partials/_modules.scss */
.social h3 {
  margin-top: 1.25rem;
}
/* line 103, ../scss/partials/_modules.scss */
.social ul {
  float: left;
}
/* line 107, ../scss/partials/_modules.scss */
.social li a {
  display: inline-block;
  height: 32px;
  width: 32px;
  /*   CSS image replacement  
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  */
}
/* line 117, ../scss/partials/_modules.scss */
.social li.facebook a {
  background-position: 0 -32px;
}
/* line 59, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social li.facebook a:hover, .social li.facebook a.facebook-hover {
  background-position: 0 0;
}
/* line 119, ../scss/partials/_modules.scss */
.social li.facebook a:hover {
  background-position: 0 0;
}
/* line 123, ../scss/partials/_modules.scss */
.social li.twitter a {
  background-position: 0 -160px;
}
/* line 59, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social li.twitter a:hover, .social li.twitter a.twitter-hover {
  background-position: 0 -128px;
}
/* line 125, ../scss/partials/_modules.scss */
.social li.twitter a:hover {
  background-position: 0 -128px;
}
/* line 129, ../scss/partials/_modules.scss */
.social li.wordpress a {
  background-position: 0 -224px;
}
/* line 59, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social li.wordpress a:hover, .social li.wordpress a.wordpress-hover {
  background-position: 0 -192px;
}
/* line 131, ../scss/partials/_modules.scss */
.social li.wordpress a:hover {
  background-position: 0 -192px;
}
/* line 135, ../scss/partials/_modules.scss */
.social li.flickr a {
  background-position: 0 -96px;
}
/* line 59, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social li.flickr a:hover, .social li.flickr a.flickr-hover {
  background-position: 0 -64px;
}
/* line 137, ../scss/partials/_modules.scss */
.social li.flickr a:hover {
  background-position: 0 -64px;
}

/********************************************
 *    Area for media query styles 
 ********************************************/
@media screen and (max-width: 500px) {
  /* line 154, ../scss/partials/_modules.scss */
  .footer {
    width: 95%;
    margin: 1em auto;
  }
}
